.ally-config-row {
    margin: 1em 0;
}
.ally-pad {
    margin: 1em 0;
}

#page-admin-tool-ally-lti-view iframe#contentframe {
    padding: 1em;
}

#dt-allylog th {
    white-space: nowrap;
}

#dt-allylog div[name="HeaderSettings"] {
    display: none;
}